<% if @error != nil %>
  <b>Error: <%= @error %></b>
<% end %>

<div class='login-title'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <h1>Login for Aministration Duties</h1>
        <h3>Restricted Access</h3>
     </div>
    </div>
  </div>
</div>

<%= form_tag admin_login_path do %> 
  <div class="field">         
    <%= label_tag :user_name %><br>
    <%= text_field_tag :user_name, @user_name %>
  </div>
  <div class="field"> 
    <%= label_tag :password %><br>
    <%= text_field_tag :password, @user_password %>
  </div>
  <div class="actions">
    <%= submit_tag "Enter" %>
  </div>
<% end %>

<p> 
  <br>
  <a class='btn btn-success btn-sm'
    href="/pic_category">
    Back
  </a> 
  <a class='btn btn-success btn-sm'
    href="/index">
    Home
  </a>
</p>