<div class= <%= @name %>>

	<% if @error != nil %>
	  <b>Error: <%= @error %></b>
	<% end %>

	<% @desc = Title.find_by(name: @name) %>
	<% @description = @desc.description %>

	<div class='top-views'>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-8'>
				<%= @description %>	
				<h4><%= "**Click picture title to enlarge**" %></h4>
				</div>
			</div>
		</div>
	</div>
	<br>
	<% @national_parks.each do |pic| %> 
	<% image1   = pic.image1 %> 
	<% image2   = pic.image2 %>
	<% pic_desc = pic.description %>

		<div class="col-sm-3">
		  	<div class="Picture_container">
				<%= image_tag image1, height: 185 %>,
				    <br>
				    <a href= "<%= image_path(image2) %>">
						<%= pic_desc %>
					</a>
				<br>
		  	</div>
		</div>

	<% end %>

	<div class="apple_pagination">
	  <%= will_paginate @national_parks %>
	</div>	

	<p>	
		<a class='btn btn-success btn-sm'
			href="/select_national_parks">
			Back
		</a>

		<a class='btn btn-success btn-sm'
			href="/index">
			Home
		</a>

	</p>

</div>