<div class= <%= @name %>>

	<% if @error != nil %>
	  <b>Error: <%= @error %></b>
	<% end %>

	<% @desc = Title.find_by(name: @name) %>
	<% @description = @desc.description %>

	<div class='np-views'>
		<%= @description %>	
		<h4><%= "Click picture title to enlarge" %></h4>
	</div>

	<br>
	<% @national_parks.each do |pic| %> 
	<% image1   = pic.image1 %> 
	<% image2   = pic.image2 %>
	<% desc     = pic.description %>

		<div class="col-sm-3">
		  	<div class="Picture_container">
				<%= image_tag image1, height: 185 %>,
				    <br>
				    <a href= "<%= lg_view_image_np_path(pic) %>">
						<%= desc %>
					</a>
				<br>
		  	</div>
		</div>
	<% end %>

	<div class="flickr_pagination">
	  <%= will_paginate @national_parks %>
	</div>	

	<p>	
		<a class='btn btn-success btn-sm'
			href="/select_national_parks">
			Back
		</a>

		<a class='btn btn-success btn-sm'
			href="/index">
			Home
		</a>
	</p>

</div>