<div class= <%= @name %>>

<% if @error != nil %>
  <b>Error: <%= @error %></b>
<% end %>

<% @desc = Title.find_by(name: @name) %>
<% @description = @desc.description %>


<% counter = 0 %>

<div class='top-views'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-8'>
			<%= @description %>	
			</div>
		</div>
	</div>
</div>

<h3><%= "Click picture title to enlarge" %></h3> 

<% NationalPark.order(:name).each do |pic| %> 
<% @image1   = pic.image1 %>
<% @image2   = pic.image2 %>
<% @pic_name = pic.name %>
<% @pic_desc = pic.description %>

	<% if @name != @pic_name %>
	 	<% counter = counter + 1 %>
	<% else %> 	
		<div class="col-sm-3">
		  <div class="Picture_container">
		    <img src="/app/assets/images/<%= @image1 %>" height="185">
		    <br>
			<a href="/app/assets/images/<%= @image2 %>">
				<%= @pic_desc %>
			</a>
			<br>
		  </div>
		</div>
	<% end %>

<% end %>	

<% @name = "    " %>
<% @desc = "    " %>

<p>	
	<a class='btn btn-success btn-sm'
		href="/select_national_parks">
		Back &gt;&gt;
	</a>

	<a class='btn btn-success btn-sm'
		href="/index">
		Home &gt;&gt;
	</a>

</p>


</div>