<div class= <%= @category %>>

	<% if @error != nil %>
	  <b>Error: <%= @error %></b>
	<% end %>

	<div class='picture-views'>
		<h1><%= @title %></h1>	
		<h4><%= "Click picture title to enlarge" %></h4>
	</div>

	<br>
	<% @pictures.each do |pic| %> 
		<% image1 = pic.image1 %>
		<% image2 = pic.image2 %>
		<% desc   = pic.description %>
			
		<div class="col-sm-3">
			<div class="Picture_container">
			    <%= image_tag image1, height: 185 %>,
			    <br>
			   <a href= "<%= lg_view_image_pic_path(pic) %>">
					<%= desc %>
				</a>
			</div>
		</div>
	<% end %>

	<div class="flickr_pagination">
	 <%= will_paginate @pictures %>
	</div>

	<p>	
		<a class='btn btn-success btn-sm'
			href="/pic_category">
			Back
		</a>
		<a class='btn btn-success btn-sm'
			href="/index">
			Home
		</a>
	</p>

</div>

