<% if @error != nil %>
  <b>Error: <%= @error %></b>
<% end %>

<div class='login-title'
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <h1>Login for Special Occasions</h1>
     </div>
    </div>
  </div>
</div>

<%= form_tag so_login_path do %>
  <div class="field">
    <%= label_tag "first_name" %><br>
    <%= text_field_tag "first_name", @first_name %>
  </div>
  <div class="field">
    <%= label_tag "last_name" %><br>
    <%= text_field_tag "last_name", @last_name %>
  </div>
  <div class="field">
    <%= label_tag "event_code" %><br>
    <%= text_field_tag "event_code", @event_code %>
  </div>
  <br>
  <div class="actions">
    <%= submit_tag "Enter" %>
  </div>
<% end %>

<p>
  <br>
  <a class='btn btn-success btn-sm'
    href="/pic_category">
    Back
  </a>

  <a class='btn btn-success btn-sm'
      href="/index">
      Home
  </a>
</p>


