<div class= <%= @ev_code %>>

	<% if @error != nil %>
	  <b>Error: <%= @error %></b>
	<% end %>

	<% @desc = Title.find_by(name: @ev_code) %>

	<% @description = @desc.description %>

	<% counter = 0 %>

	<div class='top-views'>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-8'>
				<%= @description %>	
				</div>
			</div>
		</div>
	</div>

	<h3><%= "Click picture title to enlarge" %></h3> 

	<% Occassion.order(:category).each do |pic| %> 
		<% @image1 = pic.image1 %>
		<% @image2 = pic.image2 %>
		<% @cat    = pic.category %>
		<% @desc   = pic.description %>

		<% counter = 0 %>
		
		<% if @cat != @ev_code %>
			<% counter = counter + 1 %>
		<% else %>	
			<div class="col-sm-3">
				<div class="Picture_container">
				    <img src="/images/<%= @image1 %>" height="185">
				    <br>
					<a href="/images/<%= @image2 %>">
						<%= @desc %>
					</a>
					<br>
				</div>
			</div>

		<% end %>
		
	<% end %>

	<div class="apple_pagination">
	  <%= will_paginate @occassions %>
	</div>

	<% @cat      = "    " %>
	<p>	
		<a class='btn btn-success btn-sm'
			href="/pic_category">
			Back &gt;&gt;
		</a>

		<a class='btn btn-success btn-sm'
			href="/index">
			Home &gt;&gt;
		</a>

	</p>

</div>