<% if @error != nil %>
  <b>Error: <%= @error %></b>
<% end %>

<h1>Test Pictures</h1>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon01.jpg", height: 185 %>
	    <br>
		<a href= "<%= image_path("albq_balloon02.jpg") %>">	
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon05.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon06.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon11.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon12.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "alaska15.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("alaska16.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<p>	<a class='btn btn-success btn-sm'
		href="/pic_category">
		Back
	</a>

	<a class='btn btn-success btn-sm'
		href="/index">
		Home
	</a>
</p>