<% if @error != nil %>
  <b>Error: <%= @error %></b>
<% end %>

<h1>Test Pictures</h1>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods01.jpg", height: 185 %>
	    <br>
		<a href= "<%= image_path("redwoods02.jpg") %>">	
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("redwoods04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods05.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("redwoods06.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods07.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("redwoods08.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods09.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("redwoods10.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods11.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("redwoods12.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods13.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("redwoods14.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "redwoods15.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("redwoods16.jpg") %>">
			click to enlarge
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<div class="col-sm-3">
	<div class="Picture_container">
		<%= image_tag "albq_balloon03.jpg", height: 185 %>
		<br>
		<a href= "<%= image_path("albq_balloon04.jpg") %>">
			click to enlarge
		</a>
		<br>
	</div>
</div>

<p>	<a class='btn btn-success btn-sm'
		href="/pic_category">
		Back
	</a>

	<a class='btn btn-success btn-sm'
		href="/index">
		Home
	</a>
</p>